@font-face {
    font-family: mm;
    src: url(head.ttf);
}

.service-main,.video-right-top,.plat-heading,.blog-main-heading ,.problem-main-heading,.fifth-box-heading,.sixth-box-heading,.seventh-box-heading,.eighth-box-heading,.crousel-sub,.crousel-main,.indus1 ,.indus2,.indus3,.digit1,.digit2,.digit3 {
    font-family: mm; 
}
@font-face {
    font-family: nn;
    src: url(para.ttf);
}
.service-sub,.video-right-bottom,.video-left-top,.video-left-bottom,.problem-sub-heading,.blog-sub-heading, .fifth-box-para , .sixth-box-para , .seventh-box-para,.para1 ,.para2,.para3 ,.btn-8,.button-7,.button-6,.btn-5,.blogButt1,.blogButt2,.btn-1,.problemButt1,.problemButt2,.crousel-button,.video-right-name,.card-heading,.card-info,.category-name,.comment-name,.service-name{
    font-family: nn;
}
.crousel-links ul li,.main-nav ul li{
    font-family: nn; 
}
body{
    /* font-family: 'Roboto'; */
    padding: 0;
    margin: 0;
}

.main-body{
    margin-left: 0px;
}
/* SIDEBAR */
.sidebar-button{
    display: none;
    visibility: hidden;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
    width: 80%;
   
    
}
.sidebar-button button{
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}
.sidebar {
    z-index: 10;
    position: fixed;
    /* visibility: hidden;
    display: none; */
    margin-left: -250px;
    padding-top: 20px;
    width: 250px;
    height: 100vh;
    /* background-color: rgb(21, 26, 30); */
    background-color: rgb(64, 70, 86);
    transition: all 2s;
}

.top-icons {
    display: flex;
    flex-flow: row;
    padding: 0px 10px;
}

.icon1 {
    font-size: 20px;
    color: white;
}

.icon2 {
    font-size: 20px;
    color: white;
    margin-left: auto;
    cursor: pointer;
}

.sidebar-content {
    margin-top: 30px;
}
.sidebar-content ul{
    padding: 0;
}
.sidebar-content li {
    color: white;
    list-style: none;
    line-height: 2.8rem;
    cursor: pointer;
    padding-left: 20px;
    font-size: 18px;
}
.sidebar-content li:hover {
    background-color: rgb(79, 78, 78);

}
.sidebar-content li i{
    width: 20%;
}
.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}
.avatar {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.sidebar-user{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sidebar-email{
    color: rgb(179, 178, 178);
    font-size: 18px;
}

@media only screen and (max-width:900px){
    .sidebar-button{
        display: unset;
        visibility: visible;

    }
}
/* NAV-CROUSEL */


.nav{
    position: fixed;
    display: flex;
    flex-flow: row;
    z-index: 1;
    right: 0;
    left: 0;
    /* margin-left: 250px; */
}



/* MAIN NAV BAR */
.main-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}
.main-nav ul{
    padding-left: 0;
    background-color: #ffce33;
    padding: 12px 20px;
}
.main-nav ul li{
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding: 12px 10px;
}
.main-nav ul li:hover{
    color: white;
    background-color: #3a4eff;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width:1000px){
    .main-nav{
        min-width: 80%;
    }
}
@media only screen and (max-width:900px){
    .main-nav{
        display: none;
        visibility: hidden;
    }
}

/* RIGHT NAV BAR */
.right-nav{
    width: 30%;
    display: flex;
    flex-flow: row;
    column-gap: 10px;
    margin: 5px 0;
    padding: 12px 0;
    justify-content: center;
}
.magnifine{
    width: 40px;
    background-color: #3a4eff;
    border:none;
    border-radius: 0 20px 20px 20px;
    cursor: pointer;
}
.person{
    width: 40px;
    background-color: #ffce33;
    border:none;
    border-radius:  20px 0 20px 20px;
    cursor: pointer;
}
.magnifine-img{
    width: 15px;
    height: 15px;
}
.person-img{
    width: 15px;
    height: 15px;
}
@media only screen and (max-width:1000px){
    .right-nav{
        /* width: 20%; */
     
    }
}

/* CROUSEL */

.crousel{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.crousel-left{
    width: 50%;
    background-color: #2d2d2d;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    display: flex;
    flex-flow: column;
}
.crousel-sub{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
}
.crousel-main{
    font-size: 55px;
  
    margin-bottom: 20px;
    color: #ffffff;
}
.crousel-button{
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 25px;
    padding: 25px 35px 25px 35px;
}
.crousel-links{

    display: flex;
    height: 100%;

}
.crousel-links ul{
    margin-bottom: auto;
    padding: 12px 20px;
}
.crousel-links ul li{
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding: 12px 10px;
}
.crousel-links ul li:hover{
    color: #ffffff;
    cursor: pointer;
}
.crousel-right{
    width: 50%;
    /* border: 2px solid green;  */
}
.crousel-right img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
/*  */
}
@media only screen and (max-width:800px){
    .crousel{
        flex-flow: column;
    }
    .crousel-left{
        width: 100%;
        padding:20px;
        padding-top: 50px;
        box-sizing: border-box;
    }
    .crousel-right{
        width: 100%;
        height: auto;
        
    }
}
/* SERVICES */

.services{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.services-inner{
    display: flex;
    flex-flow: column;
    width: 100%;
   
   
}
.services-inner>div{


}
.service-heading{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-main{
    font-size: 45px;

    margin-bottom: 10px;
}
.service-sub{
    font-size: 18px;
}
.services-first{
    display: flex;
    flex-flow: row;
    
}
.services-second{
    display: flex;
    flex-flow: row;
}
.services-third{
    display: flex;
    flex-flow: row;
 
    margin-bottom: 30px;
}
.two-services{
    display: flex;
    flex-flow: row;
    width: 50%;
 
    justify-content: space-around;
}
.service{
    width: 20%;
    display: flex;
    justify-content:center;
    flex-flow: column;
   /* gap:10px; */
   box-sizing: border-box;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    /* border:2px solid red; */
  
}
.service:hover{
    cursor: pointer;
    box-shadow: 5px 8px 19px rgba(6, 75, 222, 0.3);
    border-radius: 22px;

}
.service-logo{
  /* padding-bottom: 15px; */
}
.service-logo img{
    width: 60px;
    height: auto;
}
.service-name{
    font-size: 16px;
    /* font-weight: 400; */
    text-align: center;
}
.btn1 {
    display: flex;
    justify-content: center;
  
}

.btn-1 {
    background-color: white;
    font-weight: 700;
    color: black;
    border: 2px solid black;
    width: 180px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    
}
.btn-1:hover{
    background-color: green;
    color: white;
}

@media only screen and (max-width:800px){
    .services-first{
        flex-flow: column;
    }
    .services-second{
        flex-flow: column;
    }
    .services-third{
        flex-flow: column;
    }
    .two-services{
        width: 100%;
    }
    .service{
        width: 50%;
    }
    .service-heading{
        width: 100%;
        text-align: center;
    }
}

/* video */

 .video-service{
    display: flex;
    flex-direction: row;
    gap:120px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
 
}
.video-heading{
    display: flex;
    flex-direction: column;
    /* column-gap: 10%; */
    width: 30%;
    height:auto;
    /* position: relative; */

}
.video-heading-left{
    display: flex;
    flex-flow: column;
    /* align-items: center;
    justify-content: center; */


}
.video-left-top{
   
    font-size: 16px;
    padding-bottom: 10px;
}
.video-left-bottom{
    font-size: 16px;
    color: grey; 
    padding-bottom: 10px;
}
.video-heading-right{
    display: flex;
    flex-flow: column;
    
  
}
.video-right-top{
    font-size: 45px;
/* border:2px solid red; */
}
.video-right-bottom{
    font-size: 18px; 
    padding-top: 30px;
}
.video-content{
    display: flex;
    flex-direction: column;
    /* column-gap: 11%; */
    width:55%;
    height: auto;
 
}
.video-right-name{
    font-size: 12px;
    font-weight: 600;
}
/* .rectangle{
    background-color: rgb(71, 71, 71);
    width:60%;  
    height: 20%;
    top:-31px;
    right: -225px;
    position:relative;
    z-index: -2;
  
} */
.video-content-left{
    height:260px;
    padding-top: 15px;
    /* position: absolute; */
    /* top:180px; */
    z-index: -1;
  
    /* width:32%; */
}
.video-content-left iframe{
    /* position:relative; */
    width:100%;
    height:100%;
     z-index: 0; 
     border: none; 
   
}

.video-content-right{
     padding-top: 40px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  
  

}
.video-content-top{
    display: flex;
    flex-flow: row;
     
    justify-content: space-between;
}
.video-right-service{
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    justify-content: space-evenly;
    width: 20%;
    /* border: 2px solid red; */
}
.video-right-logo img{
    width: 50px;
    height: auto;

}
.video-content-bottom{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
@media only screen and (max-width:1150px){
   
    .video-content-right{
      
    } 
}
@media only screen and (max-width:1000px){
   
    .video-service{
      flex-direction: column-reverse;
    } 
    .video-heading,.video-content{
        width:100%;
    }
    
}
/* @media only screen and (max-width:1000px){
    .video-content-top{
        flex-flow: column;
        width: 100%;
        align-items: center;
        row-gap: 20px;
      
    }
    .video-content-bottom{
        flex-flow: column;
        width: 100%;
        align-items: center;
        row-gap: 20px;
    }
    .video-content-right{
        flex-flow: row;

    }
    .video-right-service{
        row-gap: 10px;
        width: 80%;
    
    }
    .video-heading{
        flex-flow: column-reverse;
        margin-bottom: 20px;
 
    }
    .video-heading-left{
        width: 100%;
   
    }
    .video-heading-right{
        width: 100%;
    
    }
} */
/* @media only screen and (max-width:650px){
    .video-content{
        flex-flow: column;
        row-gap: 20px;
    }
    .video-content-left{
        width: 100%;
       
    }
    .video-content-left iframe{
        height: 300px;
    }
    .video-content-top{
        flex-flow: row;
        width: 100%;
        align-items: center;
        row-gap: 20px; 
    }
    .video-content-bottom{
        flex-flow: row;
        width: 100%;
        align-items: center;
        row-gap: 20px;
    }
    .video-content-right{
        flex-flow: column;
        width: 100%; */
        /* border:2px solid black; */
    /* }
    .video-right-service{
        row-gap: 10px;
        width: 80%;
    }
}
@media only screen and (max-width:550px){
    .video-content-top{
        flex-flow: column;
        width: 100%;
        align-items: center;
        row-gap: 20px;
    }
    .video-content-bottom{
        flex-flow: column;
        width: 100%;
        align-items: center;
        row-gap: 20px;
    }
    .video-content-right{
        flex-flow: row;
    }
}  */




/* platform box */
 .platform-box {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.plat-heading {
  font-size: 45px;
    text-align: center;
    padding-bottom: 30px;
  
}
.plat{
  
    height: auto;
}
.com{
    display: grid;
  
    grid-gap: 5%;
}
 .social-media1{
    text-align: center;
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  
    /* width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: row ;

    text-align: center;
    border: 2px solid red; */

     
}
.social-media1 img{
  

    width: 100%;
    height: auto;
    /* margin-bottom: 30px; */
    /* border: 2px solid red; */
   
}

.social-media2{
    text-align: center;
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
 
    
   
}
.social-media2 img{
  
    width: 90%;
    height: auto;
  
    /* border: 2px solid red; */
}




/* SOCIAL BLOG */
.social-blog{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
    height: auto;
    
}
.blog-heading{
    display: flex;
    flex-flow: row;

}
.blog-heading-right{
width: 60%;

}
.blog-main-heading{
    font-size: 45px;
   
   
}
.blog-sub-heading{
    font-size: 18px;
    color: grey;
}
.blog-right-button{
    display: flex;
    flex-flow: column;
    row-gap: 20px;
}
.blogButt1{
    width: 180px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
  
}
.blogButt1:hover{
    background-color: green;
    color: white;
}

.blogButt2{
    width: 180px;
    background-color: #3a4eff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    border:none;
}
.blogButt2:hover{
    background-color: green;
    color: white;
}

.blog-cards{
    margin-top: 30px;
    

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-flow: dense;
    grid-gap:3%;
    height: auto;
    
}
.blog-card{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
 
    margin-bottom: 30px;
    transition: all 0.2s ease;
    height: auto;
  
}
.blog-card:hover{
    cursor: pointer;
    box-shadow: 5px 8px 19px rgba(6, 75, 222, 0.3);
}
.card-image{
    height:50%;
   
}
.card-image img{
    width: 100%;
    height:100%;
    
  

}
.card-inner{
  
    padding: 20px;
    height:50%;
 
}
.card-heading{
    /* font-weight: bold; */
   font-size: 18px;
}
.card-row{
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-category{
    display: flex;
    flex-flow: row;
    column-gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-comment{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    column-gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-info{
    font-size: 16px;
    color: grey;
}
/* @media only screen and (max-width:880px){
    .blog-card{
        width: 47%;
    }
} */
@media only screen and (max-width:780px){
    .blog-heading{
        flex-flow: column;
    }
    .blog-heading-right{
        width: 100%;
        margin-top: 30px;
    }
    .blog-right-button{
        justify-content: center;
        flex-flow: row;
        column-gap: 30px;
    }
    .blogButt1{
        margin-left: 0;
    }
    .blogButt2{
        margin-left: 0;
    }
   
}
 @media only screen and (max-width:694px){
    .blog-cards{
        grid-gap:0%;
    }
} 
@media only screen and (max-width:410px){
    .blog-right-button{
        justify-content: center;
        flex-flow: column;
        column-gap: 30px;
    }
}



/* BUSINESS PROBLEM */
/* SOCIAL BLOG */
.business-problem{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.problem-heading{
    display: flex;
    flex-flow: row;
  
}
.problem-heading-right{
width: 60%;

}
.problem-main-heading{
    font-size: 45px;
   
}
.problem-sub-heading{
    font-size: 18px;
    color: grey;
}
.problem-right-button{
    display: flex;
    flex-flow: column;
    row-gap: 20px;
}
.problemButt1{
    width: 180px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
  
}
.problemButt1:hover{
    background-color: green;
    color: white;
}

.problemButt2{
    width: 180px;
    background-color: #ffce33;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    border:none;
}
.problemButt2:hover{
    background-color: green;
    color: white;
}

.problem-images{
    margin-top: 30px;
    margin-bottom: 60px;

    /* display: flex;
    flex-flow: row wrap;
    column-gap: 5%; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-flow: dense;
    grid-gap:1%;
    width:100%;
    height: auto;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.problem-image{
    width: 100%;
    height:100%;
    padding-bottom: 110px;

}


@media only screen and (max-width:780px){
    .problem-heading{
        flex-flow: column;
    }
    .problem-heading-right{
        width: 100%;
        margin-top: 30px;
    }
    .problem-right-button{
        justify-content: center;
        flex-flow: row;
        column-gap: 30px;
    }
    .problemButt1{
        margin-left: 0;
    }
    .problemButt2{
        margin-left: 0;
    }
}
/* @media only screen and (max-width:950px){
    .problem-image{
        width: 21%;
    }
    
} */
/* @media only screen and (max-width:800px){
    .problem-image{
        width: 30%;
    }
    
} */
/* @media only screen and (max-width:600px){
    .problem-image{
        width: 47%;
    }
    
} */
/* @media only screen and (max-width:450px){
    .problem-image{
        width: 100%;
    }
    
} */
@media only screen and (max-width:410px){
    .problem-right-button{
        justify-content: center;
        flex-flow: column;
        column-gap: 30px;
    }
}



/* business */
 .fifth-box {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
 }
 .fifth-box-heading {
 
    font-size: 45px;
  
    text-align: center;
    margin-bottom: 30px;
 
 }
 .headandpara{
    display: flex;
    justify-content: center;
 
 }
 .fifth-box-para {
    
  
    margin-bottom: 30px;
    color: gray;
    font-size: 18px;
    text-align: center;
 }
 
.fifth-box> img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
  
 
  
  
  
  /* ul,li{
    list-style: none;
  }
  .row{
    position: relative;
    padding: 10px;
    margin-bottom: 50px;
  }
  .row ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-flow: dense;
    grid-gap:25px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .row ul li{
    position: relative;
  }
  .row ul li:nth-child(1){
    grid-row: span 2;
    grid-column: span 3;
  }
  .row ul li:nth-child(2){
    grid-row: span 3;
    grid-column: span 4;
  }
  .row ul li:nth-child(3){
    grid-row: span 1;
    grid-column: span 3;
  }
  .row ul li:nth-child(4){
    grid-row: span 2;
    grid-column: span 3;
  }
  .row ul li:nth-child(5){
    grid-row: span 3;
    grid-column: span 3;
  }
  .row ul li:nth-child(6){
    grid-row: span 3;
    grid-column: span 3;
  }
  .row ul li:nth-child(7){
    grid-row: span 3;
    grid-column: span 4;
  }
  .row ul li:nth-child(8){
    grid-row: span 4;
    grid-column: span 3;
  }
  .row ul li:nth-child(9){
    grid-row: span 3;
    grid-column: span 4;
  }
   .row ul li:nth-child(10){
    grid-row: span 3;
    grid-column: span 3;
  }
  .row ul img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .row ul li:hover{
    filter: opacity(0.8);
    transition: .2s;
    cursor: pointer;
  } */
  .btn-5{
    width: 180px;
    background-color: #ffce33;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
  border:none;
}
.btn-5:hover{
    background-color: green;
    color: white;
}

    
 .btn5{
    display: flex;
    justify-content: center;
    padding-top: 60px;
 }



/* marketing strategy */
.sixth-box{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom:50px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.circle{

    background-color: #ffce33;
    position: absolute; 
    top: 200px; 
  right:0;
  height:300px;
  width:150px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    /* transform:rotate(270deg); */
}

.sixth{
  
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    column-gap: 5%;
    
}

 .sixth-box-pic{
    width: 50%;
    height: auto;
    padding-top:50px;
  
} 
.vector1{
    width:80%;
    height: 80%;
}
 .vector1>img{

  
     width:100%;
    height: auto;

   
   
} 

.combo{
    width:60%;

    display: flex;
    flex-flow:column;
   
    padding-top:50px;
 
}
.sixth-box-heading{
    font-size: 45px;
   
   
}

.sixth-box-para{
    font-size: 18px;
    color: grey;
    position:absolute;
    top:220px;
  
   
}
.button-6{
    width: 180px;
    background-color: #ffce33;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    border: none;
    /* position:absolute;
    top:400px; */
}
.button-6:hover{
    background-color: green;
    color: white;
}
/* @media only screen and (max-width:1080px){
.combo{
    width:70%;
}
.sixth{
    padding-bottom: 40px;
}
} */
/* @media only screen and (max-width:994px){
    .sixth{
        column-gap: 2%;
    }
    .combo{
        width:80%;
        
    }
} */
@media only screen and (max-width:1080px){
    .combo{
        
        width:100%;
    }

    .sixth{
        flex-direction: column-reverse;
    }
    .sixth-box-pic{
        width:100%;
     
        /* border:2px solid black; */
        /* margin-top: 20px; */
    }
  
    .a{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .sixth-box{
        position: unset;
    }
   .sixth-box-para{
    position: unset;
   }
   .circle{
    position: unset;
    visibility: hidden;
   } 
} 
@media only screen and (max-width:540px){
    .a{
        display: flex;
        justify-content: center;
    }

}

/* .circle{
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffce33;
    position: relative;
   
}
.empty{
    width:300px;
    height:400px;
   
    background-color: white;
    
    box-shadow: 2px 4px 5px 5px #fdd245;
    margin-left: 70px ;
    position: relative;
    bottom:77px;
} */
/* .vector1{
    position: sticky;
} */



/* SevenTH-BOX(Our previous projects component) */
.seventh-box{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
   
    /* display: grid;
    grid-template-columns: auto-fit; */
}

.seventh{
    
    margin-top: 30px;
    display: flex;
    flex-direction:row;
   
    margin-bottom: 50px;
    /* column-gap: 5%; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(550px,2fr));
    grid-auto-flow: dense;
    grid-gap:5%; */
}

 .seventh-box-pic{
    width: 50%;
    height: auto;
    padding-top:50px;
    /* margin-bottom: 30px; */
    /* border:2px solid red; */
} 
.vector2{
    width:80%;
    height: 80%;
}
 .vector2>img{
    /* width:350px;
    height: 400px;

    bottom:25px; */
     width:100%;
    height: auto;
    /* border:2px solid green; */
   
} 

.combo1{
    width:60%;
    /* height: 100%; */
    display: flex;
    flex-flow:column;
   
    padding-top:50px;
  
}
.seventh-box-heading{
    font-size: 45px;
   

}
.seventh-box-para{
    font-size: 18px;
    color: grey;
  
}
.button-7{
    width: 180px;
    background-color: #ffce33;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    border: none;
}
    .button-7:hover{
        background-color: green;
        color: white;
    }
    

@media only screen and (max-width:994px){
    .seventh{
        column-gap: 2%;
    }
    .combo1{
        width:45%;
        
    }
}
@media only screen and (max-width:965px){
    .combo1{
        
        width:100%;
    }

    .seventh{
        flex-direction: column-reverse;
    }
    .seventh-box-pic{
        width:100%;
        /* border:2px solid black; */
        /* margin-top: 20px; */
    }
    .b{
      padding-top: 20px;
    }
   
}
@media only screen and (max-width:540px){
    .b{
        display: flex;
        justify-content: center;
    }

}



/* eighth-box */

.eighth-box {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;

}
.eighth{
 margin-bottom:50px;
}
.eighth-box-heading {
    font-size: 45px;
  
    text-align: center;
}




.eighth-box-pictures {
    
    display: grid;
    grid-gap:5%;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  

}

.logo1 ,.logo2,.logo3{
    font-size: 50px;
    /* padding:10px; */
}

.digit1,.digit2,.digit3 {
    font-size: 50px;
    color: gray;
    font-weight: bold;

}

.industry1 ,.industry2,.industry3{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    box-sizing: border-box;
    padding:10px;
    width: 100%;
   

}

.industry ,.market1,.market2{
    width: 100%;
    height: auto;
    padding: 10px;
}

.indus1 ,.indus2,.indus3{
    font-size: 20px;
    /* font-weight: bold; */
   padding: 10px;

}

.para1 ,.para2,.para3{
    font-size: 18px;
    color: grey;
    padding: 10px;

  

}



.industry:hover {
    z-index: 0;

    box-shadow: 5px 8px 19px rgba(214, 116, 24, 0.5);
}

.market1:hover {
    z-index: 0;

    box-shadow: 5px 8px 19px rgba(214, 116, 24, 0.5);
}

.market2:hover {
    z-index: 0;

    box-shadow: 5px 8px 19px rgba(214, 116, 24, 0.5);
}

.btn8 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
}

.btn-8 {
    background-color: white;
    font-weight: 700;
    color: black;
    border: 2px solid black;
    width: 180px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 22px;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
     

    
}
.btn-8:hover{
    background-color: green;
    color: white;
}

@media only screen and (max-width:660px){
    .eighth-box-pictures{
        margin-bottom:100px;
    }
   
}